.desktop-2 {
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1px;
  padding-right: 41px;
  font-family: Poppins, Arial;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 25px;
  display: flex;
}

.rectangle-8 {
  color: #fff;
  height: 100%;
  background-color: #00155f;
  flex-direction: row;
  flex-basis: 41%;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  padding-bottom: 32px;
  padding-right: 58px;
  font-size: 2.563rem;
  font-weight: 700;
  line-height: 62px;
  display: flex;
}

.group-1 {
  width: 55px;
  height: 52px;
  object-fit: cover;
  margin-bottom: 16px;
}

.blitz {
  margin-bottom: 13px;
  margin-left: 15px;
}

.flex-container {
  height: 70%;
  flex-direction: column;
  flex-basis: 35%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 13px;
  margin-bottom: 3px;
  margin-left: 81px;
  display: flex;
}

.welcome-back {
  margin-left: 1px;
  font-size: 2.625rem;
  line-height: 62px;
}

.sign-in-to-continue {
  margin-bottom: 28px;
  margin-left: 5px;
  font-weight: 500;
}

.email-or-username {
  color: #ff4f4f;
  margin-top: 1px;
  margin-bottom: 8px;
  margin-left: 1px;
}

.futurelabsgmailcom {
  color: #0006;
}

.line {
  width: 502px;
  height: 1px;
  object-fit: cover;
  border: .831539px solid #000;
  margin-bottom: 47px;
}

.flex-container-1 {
  color: #0006;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-left: 1px;
  display: flex;
}

.password {
  margin-top: 1px;
}

.vector {
  width: 21px;
  height: 17px;
  object-fit: cover;
}

.line-1 {
  width: 502px;
  height: 1px;
  object-fit: cover;
  border: .831539px solid #000;
  margin-bottom: 5px;
}

.flex-container-2 {
  color: #00000080;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
  display: flex;
}

.rectangle-9 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border: .831539px solid #c8c8c8;
  border-radius: 4px;
}

.forgot-password {
  color: #ff4f4f;
  margin-bottom: 1px;
  margin-left: 83px;
}

.rectangle-10 {
  color: #fff;
  width: 100%;
  background-color: #ff3535;
  border: none;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 3px;
  padding-bottom: 1px;
  padding-right: 4px;
  font-family: Poppins, Arial;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 25px;
  display: flex;
}

.or {
  align-self: center;
  margin-bottom: 3px;
}

.rectangle-11 {
  color: #000;
  width: 100%;
  background-color: #0000;
  border: .831539px solid #0043ef;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  font-family: Poppins, Arial;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 25px;
  display: flex;
}

.pngimg-1 {
  height: 40%;
  background-image: url("./assets/pngimg.png");
  background-position: center;
  background-size: cover;
  flex-direction: row;
  flex-basis: 5%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 1px;
  display: flex;
}

.login-with-google {
  margin-top: 1px;
  margin-left: 21px;
}

.rectangle-12 {
  color: #fff;
  width: 100%;
  background-color: #059292;
  border: .831539px solid #1f311d;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
  font-family: Poppins, Arial;
  font-size: 1.063rem;
  font-weight: 600;
  line-height: 25px;
  display: flex;
}

.vector-1 {
  width: 15px;
  height: 18px;
  object-fit: cover;
}

.login-with-apple {
  margin-top: 3px;
  margin-left: 26px;
}

.dont-have-an-account {
  margin-left: 2px;
  font-weight: 500;
}